html {
    height: 100vh;
    background: -moz-linear-gradient(90deg, rgba(102, 207, 255, 1) 0%, rgba(25, 41, 128, 1) 100%);
    /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(25, 41, 128, 1)), color-stop(100%, rgba(102, 207, 255, 1)));
    /* safari4+,chrome */
    background: -webkit-linear-gradient(90deg, rgba(102, 207, 255, 1) 0%, rgba(25, 41, 128, 1) 100%);
    /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(90deg, rgba(102, 207, 255, 1) 0%, rgba(25, 41, 128, 1) 100%);
    /* opera 11.10+ */
    background: -ms-linear-gradient(90deg, rgba(102, 207, 255, 1) 0%, rgba(25, 41, 128, 1) 100%);
    /* ie10+ */
    background: linear-gradient(0deg, rgba(102, 207, 255, 1) 0%, rgba(25, 41, 128, 1) 100%);
    /* w3c */
}

.clock-container {
    height: 300px;
    width: 300px;
    border: 1rem solid #fff; 
    padding: 10px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: calc(50vh - 150px);
    position: relative;
    box-sizing: border-box;
}
.clock-body {
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
    position: relative;
}

.sec {
    width: 50%;
    height: 3px;
}

.min {
    width: 45%;
    height: 5px;
    margin-left: 5%;
}

.hour {
    width: 35%;
    height: 5px;
    margin-left: 15%;
}

.hand  {
    position: absolute;
    top: 50%; 
    background-color: #fff;
    transform-origin: 100%;
    transform: rotate(90deg);
}